.tab{
  &__wrapper{
  }

  &__ctrl-wrap{
    border: 1px solid #eee;
    background-color: #fff;
  }

  &__ctrl{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

    max-width: 836px;
    width: 100%;
    margin: 0 auto;
  }
  &__ctrl-item{
    display: inline-block;
    padding: 19px 0 18px;
    color: #bdbdbd;
    font-family: 'Avenir';
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1.2px;

    width: 33%;
    text-align: center;

    &.active, &:hover{
      color: #391700;
    }
  }
  &__content{
    display: none;
    padding-bottom: 46px;

    &.active{display: block}
  }
}

@include tablet{
  .tab{
    &__content{
      padding-top: 28px;
      padding-bottom: 25px;
    }
  }
}

@include tel{
  .tab{
    &__ctrl-wrap{
      display: none;
    }

    &__content{
      display: none;
      padding-bottom: 9px;

      &.active{display: none}

      &#tab-search{display: block}
    }
  }
}